NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
AUTH_SECRET=
AUTH_URL=http://localhost:3000

AUTH_DISCORD_ID=
AUTH_DISCORD_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_SERVER_ID=
DISCORD_PREMIUM_ROLE_ID=

DATABASE_URL=
